/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/datepicker
 *= require_self
 */
 
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap';
@import 'font-awesome';

/*
 * Color
 */

$theme-color: #ffe382;
$light-theme-color: #fff8d6;
$sub-color: #ff4d50;
$gray: #f4f4f4;
$light-gray: #fbfbfb;
$black: #222215;
$white: #fff;

.bg-gray{
  background: $gray;
}

.bg-light-gray{
  background: $light-gray;
}

.bg-theme-color{
  background: $theme-color;
}

.bg-light-theme-color{
  background: $light-theme-color;
}

/*
 * Bootstrap Override
 */


button:focus {
  outline: none;
}

button{
  cursor: pointer;
}

ol, ul, dl {
  margin-bottom: 0;
}


/*
 * Common
 */

a:hover{
  opacity: 0.7;
}

a{
  color: $sub-color;
}

.hover:hover{
  opacity: 0.7;
  cursor: pointer;
}

/*
 * Button
 */

.button_l{
  outline: 0;
  background: $theme-color;
  color: $white;
  display: block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  @include media-breakpoint-down(sm){
    font-size: 12px;
  }
  &:hover{
    color: $white;
    text-decoration: none;
  }
  &:after{
    font-family: "FontAwesome";
    content: "\f067";
    position: absolute;
    font-size: 22px;
    right: 24px;
    top: 50%;
    margin-top: -16px;
  }
}

.button_m{
  outline: 0;
  background: $sub-color;
  width: 300px;
  color: $white;
  display: block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  padding: 10px 0;
  position: relative;
  text-align: center;
  @include media-breakpoint-down(sm){
    width: 80%;
    font-size: 12px;
  }
  &:hover{
    color: $white;
    text-decoration: none;
  }
  &:after{
    font-family: "FontAwesome";
    content: "\f105";
    position: absolute;
    font-size: 22px;
    right: 24px;
    top: 50%;
    margin-top: -16px;
  }
}

.button_s{
  outline: 0;
  background: $sub-color;
  width: 120px;
  color: $white;
  display: block;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
  padding: 7px 0;
  position: relative;
  text-align: center;
  @include media-breakpoint-down(sm){
    width: 80%;
    font-size: 12px;
  }
  &:hover{
    color: $white;
    text-decoration: none;
  }
}

.btn_white{
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid $white;
  box-sizing: border-box;
}

.btn_border{
  background: $theme-color;
  border: 3px solid $black;
  box-sizing: border-box;
  color: $black;
  &:hover{
    color: $black;
  }
}


.text_link{
  color: #d4451d;
  font-size: 16px;
  font-weight: bold;
   &:after{
    font-size: 16px;
    font-family: "FontAwesome";
    content: "\f101";
    margin-left: 10px;
   }
}


/*
 * Layout
 */

body {
  padding-top: 80px;
  color: $black;
}

body, input, button, select, optgroup, textarea {
  font-family: "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, Verdana, Roboto, "Droid Sans";
}

section{
  h1{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
  }
}



/*
 * Typography
 */


/*
 * Header
 */

.navbar-brand{
  .logo{
    width: 100px;
  }
}

#headerNav{
  background: $theme-color;
  padding-top: 12px;
  padding-bottom: 12px;
}

#navbars{
  .navbar-nav{
    .nav-item{
      font-size: 14px;
      font-weight: bold;
      align-items: center;
      display: flex;
      .current-user-icon{
        .thumb{
          width: 40px;
        }
      }
      .login_btn{
        background: $white;
        padding: 7px 22px;
        border-radius: 30px;
        border: 2px solid $black;
        font-weight: bold;
      }
      .dropdown-menu{
        h2{
          padding: 0.25rem 1.5rem 0.8rem;
          font-size: 16px;
          border-bottom: 1px solid #eee;
        }
      }
      .nav-link{
        color: $black;
      }
    }
  }
}


/*
 * Sidebar
 */

.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0 20px 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-left: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}


/*
 * Footer
 */
 
#page-top{
  font-size: 36px;
  position: fixed;
  display: block;
  bottom: 40px;
  right: 40px;
  width: 62px;
  height: 62px;
  padding-top: 9px;
  text-align: center;
  background: $light-theme-color;
  border: 3px solid #222215;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
  color: #222215;
  border-radius: 18px;
  box-sizing: border-box;
  z-index: 10;
  line-height: 1;
  @include media-breakpoint-down(sm){
    right: 16px;
    bottom: 16px;
  }
}

#copy-right{
  font-size: 12px;
}

#footer-menu{
  margin-top: 80px;
  li{
    font-size: 12px;
    a{
      color: #534a40;
    }
  }
}


/* error */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors .form-control{
  border-color: #f00000;
}




/*
 * Form
 */

.user-form{
  .thumb{
    display: block;
  }
}

.review-form{
  .nested-fields{
    position: relative;
    .remove_fields{
      position: absolute;
      top: 0;
      right: 0;
      color: #333;
    }
  }
}


/*
 * List
 */






.dropdown-menu {
  left: initial;
  right: 0;
  margin: 6px -1px 0 0;
}


/*
 * Pages
 */

/* Home */
#kv{
  background: image-url('top_bg_pc.png') center center no-repeat;
  padding: 140px 0 80px;
  h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  h2{
    font-size: 16px;
    font-weight: bold;
  }
  .main_logo{
    margin-bottom: 70px;
  }
  #categoryWrap{
    background: #e4e4e4;
    padding: 15px;
    border-radius: 4px;
    position: relative;
    &:after{
      font-size: 10px;
      font-family: "FontAwesome";
      content: "\f0d7";
      position: absolute;
      top: 50%;
      right: 25px;
      z-index: 1;
      margin-top: -0.7em;
      width: 1em;
      height: 1em;
      color: #5f5f5f;
      pointer-events: none;
    }
  }
  .form-control {
    font-size: 14px;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    height: 56px;
    outline: 0;
    width: 100%;
    -webkit-appearance: none;
    padding-left: 24px;
  }
}

.home{
  section{
    &.area{
      padding: 80px 0;
      h1{
        margin-bottom: 32px;
        font-weight: normal;
      }
    }
  }
  .top-archive-list{
    border-radius: 20px;
    margin-bottom: 40px;
    li{
      list-style: none;
      position: relative;
      margin-bottom: 24px;
      a{
        display: flex;
        img{
          width: 140px;
          border-radius: 10px;
        }
        .small{
          font-size: 12px;
          color: #222215;
        }
        .name{
          font-size: 20px;
          color: #222215;
        }
        .cat-name{
          background: $sub-color;
          color: $white;
          font-size: 12px;
          padding: 2px 8px;
          border-radius: 100px;
          margin: 0 4px 8px 0;
          display: inline-block;
        }
        .detail{
          position: absolute;
          font-size: 12px;
          bottom: 0;
          right: 0;
          .fa{
            font-size: 20px;
            position: relative;
            top: 2px;
            margin-left: 8px;
          }
        }
        &:hover{
          text-decoration: none;
          color: $sub-color;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}




/* Location */
#locationMap{
  width: 100%;
  height: calc(100vh - 80px);
  @include media-breakpoint-down(sm){
    height: 400px;
  }
}

#location-spots-info-area{
  overflow: auto;
  height: calc(100vh - 80px);
  @include media-breakpoint-down(sm){
    height: inherit;
  }
  .location-spot-list{
    border-top: 1px solid #dfdfdf;
    padding-top: 16px;
    li{
      list-style: none;
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid #dfdfdf;
      a{
        position: relative;
        color: #222215;
        .thumb{
          width: 100px;
          border-radius: 10px;
        }
        .icon{
          position: absolute;
          width: 40px;
          height: auto;
          top: -6px;
          left: -6px;
        }
        .cat-name{
          background: $sub-color;
          color: #fff;
          font-size: 12px;
          font-weight: bold;
          padding: 4px 6px;
          text-align: center;
          border-radius: 10px;
        }
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}


/* spots show */
#map {
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align:left;
  width: 100%;
}








/* kaminari */
.pagination .page, .pagination .next, .pagination .last, .pagination .first, .pagination .prev{
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  width: 40px;
  padding: 5px 0;
  text-align: center;
  margin-right: 10px;
}

.pagination .next, .pagination .last, .pagination .first, .pagination .prev{
  width: 80px;
}

.pagination .page a{
  display: block;
}


div.spinner {
  position: fixed !important;
  background: rgba(0, 0, 0, 0.5);
  width: 100% !important;
  height: 100vh;
  div{
    left: 50%;
    top: 50% !important;
  }
}